* {
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/*Display of Tasks*/
.to-dolist {
  max-width:50vw;
  margin-left:10%;
  flex: 1 1 0%;
  padding: 10px;
}

.taskdisplay {
  flex: 1 1 0%;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border-bottom: 1px lightcyan;

}

.task{
  display: flex;
  flex-direction: column;
}

#taskform {
  display: flex;
}

#userinput {
  flex: 1 1 0%;
  padding: 10px;
  border-radius: 1rem;
  border-color:white;
  border-style: solid;
  margin-right: 1rem;
  color: rgb(0, 0, 0);
  font-size: 25px;
  background-color: none;
}

#userinput::placeholder {
   color: rgb(177, 174, 174);
}

.controls{
  display: flex;
  justify-content: space-between;
  max-width:70vw;
  margin-left:15%;
  padding: 10px;
  font-size: 20px;
  border-bottom: 1px solid white;
}

span{
  padding:20px;
  margin-right: 10px;
  margin-left: -35px;
  cursor: pointer;
}

.clearbtn{
border:none;
padding: 5px;
background-color: cadetblue;
}

.content {
  max-width:50vw;
  margin-left:50%;
  flex: 1 1 0%;
  padding: 10px;
  border-radius: 1rem;
  background: none;
  border: 0.5px solid black;
  margin-top: 10px;

}

@media screen and (max-width : 650px ) {
  .content{
  max-width:50vw;
  margin-left:25%;
  flex: 1 1 0%;
  padding: 10px;
  border-radius: 1rem;
  background: none;
  border: 0.5px solid black;
  margin-top: 10px;
  }
}

.text{
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: transparent;
  width: 65vh;
  transition: color;
  transition-duration: 2s;
  transition-timing-function: ease-out;
  transition-delay: 1s;
}

#date{

border: 1px black solid;
border-radius: 50px;
background-color: white;
color: black;
}

/*

HOVER EFFECT

input .type {
  transition: color;
  transition-duration: 2s;
  transition-timing-function: ease-out;
  transition-delay: 1s;
}

input .type:hover{
  color: rgb(0, 0, 0);
}*/

input{
  width:80%;
  border:none;
  outline: none;
  justify-content: center;
}


/*Buttons for task*/
.actions {
  padding-left: 100px;
  display: flex;
  flex-direction: column;
}

button {
  appearance: none;
  background: none;
  outline: none;
  border: none;
  font-size: 20px;
  color: whitesmoke;
}

#submitbtn{
    font-weight: 400;
    cursor: pointer;
    transition: 0,5s;
}

.edit{
    
    font-weight: 400;
    cursor: pointer;
    transition: 0,5s;
}

.delete{
    
    font-weight: 400;
    cursor: pointer;
    transition: 0,5s;
}

/*General*/

body {
  background-color: rgb(12, 107, 107);
  display: flex;
  flex-direction: column;
  min-width: 100vh;
  color: white;
}

h2 {
    font-size: 2rem;
    font-weight: 10;
    margin-bottom: 1rem;
    color: white;
}

h1 {
  font-size: 2.5rem;
  font-weight: 10;
  margin-bottom: 1rem;
  color: white;
}

header {
  padding: 2rem 1rem;
  text-align: center;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}












